﻿@model MyApplication.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EmailId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EmailId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Mobileno)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Mobileno)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Password)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UserTypeId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserTypeId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Gender)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.IsActive)
    </dd>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>