﻿@model IEnumerable<MyApplication.Models.User>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#UserType").change(function () {
            $.get("/User/GetCascadingList", { UserTypeId: $("#UserType").val() }, function (data) {
                $.each(data, function (index, row) {
                    $("#Id").append("<option value='" + row.Id + "'>" + row.FirstName + "</option>")
                });
            });
        })

    });
</script>

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@{
    var message = TempData["SuccessMessage"] ?? string.Empty;
}
<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>


@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        <div class="form-group">
            <div class="col-md-3">
                @Html.TextBox("Searchbox", null, new { @class = "form-control col-md-2", @placeholder = "Id / Gender / FirstName" })
            </div>
            <div class="col-md-3">
                @if (ViewBag.UserType != null)
                {
                    @Html.DropDownList("UserType", ViewBag.UserType as SelectList, "--Select UserType--", new { @class = "form-control col-md-2", Id = "UserType" })
                }
            </div>
            <div class="col-md-3">
                @Html.DropDownList("Id", ViewBag.Users as SelectList, "--Select User--", new { @class = "form-control col-md-2", Id = "Id" })
            </div>
        </div>
        <input type="submit" style="background-color:forestgreen;color:white;width:110px;height:35px;margin-left:10px" value="Search">
        @Html.ActionLink("Reset", "Index", "", new { @class = "btn btn-md btn-primary" })
        @*<a href="@Url.Action("Index")">Reset</a>*@
    </p>


}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobileno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="12">Records Not Found</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobileno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, search = Request.QueryString["Searchbox"] }))*@

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new RouteValueDictionary()
{
      { "Page", page },
      { "Searchbox", Request.QueryString["Searchbox"] },
      { "UserType", Request.QueryString["UserType"] },
})
)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

