﻿@model MyApplication.Models.sp_g_Payment_Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UserId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SenderName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SenderName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.OrderId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OrderId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PaymentDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PaymentDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedDate)
    </dd>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
